{% extends "base.html" %}

{% block title %}
Escuelas
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/egresados.css">
{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Detalles de la Escuela</h1>
            <form action="/egresados/actualizar-egresado/{{egresado.dni}}" method="post">
                <div>
                    <p>Egresado:</p>
                    <input type="text" placeholder="" value="{{egresado.nombre}}" name="nombre">
                </div>
                <div>
                    <p>Dirección:</p>
                    <input type="text" placeholder="" value="{{egresado.direccion}}" name="direccion">
                </div>
                <div>
                    <p>Edad:</p>
                    <input type="text" placeholder="" value="{{egresado.edad}}" name="edad" disabled>
                </div>
                <div>
                    <p>Teléfono:</p>
                    <input type="text" placeholder="" value="{{egresado.telefono}}" name="telefono">
                </div>
                <div>
                    <p>Dni:</p>
                    <input type="text" placeholder="" value="{{egresado.dni}}" name="dni">
                </div>
                <div>
                    <button type="submit">Guardar cambios</button>
                </div>
                
                
            </form>
            <div>
                <a href="/egresados"><button>Cancelar</button></a>
                
            </div>
        </div>

        <div>
            <div><button></button></div>
        </div>
        
    </div>
    
{% endblock %}