{% extends "base.html" %}

{% block title %}
eventos
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/evento.css">
{% endblock %}

{% block content %}

    <!-- Contenido Principal -->
    <main class="">
        <header class="">
            <h1>Panel de Eventos</h1>
        </header>

        <!-- 1. Próximo evento -->
        <section class="">
            <div class="">
                <h3>Próximo evento</h3>
                {%if estadisticas.proximo_evento%}
                    <p class="">Nombre: {{estadisticas.proximo_evento.nombre}}</p>
                    <p class="">Fecha: {{estadisticas.proximo_evento.fecha}}</p>
                    <p class="">Lugar: {{estadisticas.proximo_evento.lugar}}</p>
                {%else%}
                    <p>Sin eventos cargados</p>
                {%endif%}
            </div>
        </section>

         <!-- 1. Últimos finalizados -->
        <section class="">
            <div class="">
                <h3>Ultimos Eventos finalizados</h3>
                {%if estadisticas.eventos_finalizados%}
                    {%for evento_finalizado in estadisticas.eventos_finalizados%}
                    <p class="">Curso: {{evento_finalizado.nombre_curso}}</p>
                    <p class="">Fecha:{{evento_finalizado.fecha_evento}}</p>
                    <p class="">Lugar: {{evento_finalizado.nombre_establecimiento}}</p>
                    {%endfor%}
                {%else%}
                    <p class="">Sin eventos finalizados</p>
                {%endif%}
            </div>
        </section>

        <!-- 2. Vista de Calendario (Mockup Operativo) -->
        <section class="">
            <h2>Calendario</h2>
            <div class="calendar-container">
                <!-- Cabecera -->
                <div class="calendar-header">
                    <h2 class="calendar-month-year">{{ estadisticas.calendario.mes_nombre }} {{ estadisticas.calendario.anio }}</h2>
                </div>

                <!-- Días de la Semana -->
                <div class="calendar-weekdays">
                    <div>Dom</div><div>Lun</div><div>Mar</div><div>Mié</div><div>Jue</div><div>Vie</div><div>Sáb</div>
                </div>

                <!-- Cuadrícula de Días -->
                <div class="calendar-days">
                    {% for semana in estadisticas.calendario.semanas %}
                        {% for dia in estadisticas.semana %}
                            
                            {% if estadisticas.calendario.dia == 0 %}
                                <!-- Día vacío perteneciente al mes anterior o posterior -->
                                <div class="day empty"></div>
                            {% else %}
                                <!-- Día válido del mes actual -->
                                <div class="day {% if estadisticas.calendario.dia == estadisticas.calendario.dia_actual %}today{% endif %}">
                                    <span class="day-number">{{ estadisticas.calendario.dia }}</span>
                                    
                                    <!-- Buscamos si este día específico tiene eventos asignados -->
                                    {% if dia in calendario.eventos_por_dia %}
                                        {% for evento in estadisticas.calendario.eventos_por_dia[dia] %}
                                            <div class="event-badge" title="{{ evento.descripcion }}">
                                                {{ evento.nombre }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>


        <section>
            <div class="actions-section">
                <h2>Formulario de alta de Evento</h2>
                <form action="/eventos/carga-masiva-excel" method="POST" enctype="multipart/form-data">
                    <div>
                        <div>
                            <p>Nombre</p>
                            <input type="text" name="evento_nombre">
                        </div>
                        <div>
                            <p>Escuela</p>
                            <select name="escuela_id" id="escuela-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for escuela in escuelas %}
                                    <option value="{{ escuela.id }}">{{ escuela.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Año</p>
                            <select name="anio" id="anio-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for anio in anios %}
                                    <option value="{{ anio }}">{{ anio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Curso</p>
                            <select name="division" id="division-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for clave, valor in divisiones.items() %}
                                    <option value="{{ clave }}">{{ valor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Monto total</p>
                            <input type="text" name="monto_total">
                        </div>
                        <div>
                            <p>Interés por mora</p>
                            <select name="interes_mora" id="interes_mora-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for interes in interes_mora %}
                                    <option value="{{ interes }}">{{ interes }}%</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Fecha ultimo pago</p>
                            <input type="text" name="ultimo_dia_pago">
                        </div>
                        <div>
                            <p>Lugar</p>
                            <select name="id_establecimiento" id="id_establecimiento-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                
                                {% for establecimiento in establecimientos %}
                                    <option value="{{ establecimiento.id }}">{{ establecimiento.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Adjuntar planilla de excel con datos de alumnos</p>
                            <input type="file" name="archivo_egresados" accept=".xlsx, .xls">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Crear</button>
                        <button type="button" class="btn btn-delete btn-secondary">Cancelar</button>
                    </div>
                </form>

            
            </div>
        </section>

        <!-- 4. Tabla Principal -->
        <section class="">
            <h2>Listado Detallado de Eventos</h2>
            <div class="">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Evento</th>
                            <th>Escuela</th>
                            <th>Fecha y Hora</th>
                            <th>Lugar</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                        <tr>
                            <td><strong>{{ evento.nombre }}</strong></td>
                            <td><strong>{{ evento.nombre_escuela }}</strong></td>
                            <td>{{ evento.fecha_evento }}</td>
                            <td>{{ evento.nombre_establecimiento }}</td>
                            <td>
                                <button class="">Editar</button>
                                <button class="">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </section>
    </main>


{% endblock %}