{% extends "base.html" %}

{% block title %}
eventos
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/evento.css">
{% endblock %}

{% block content %}

    <!-- Contenido Principal -->
    <main class="">
        <header class="">
            <h1>Panel de Eventos</h1>
        </header>

        <!-- 1. Próximo evento -->
        <section class="">
            <div class="">
                <h3>Próximo evento</h3>
                <p class="">Curso</p>
                <p class="">Estado</p>
                <p class="">Fecha</p>
                <p class="">Lugar</p>
            </div>
        </section>

         <!-- 1. Últimos finalizados -->
        <section class="">
            <div class="">
                <h3>Ultimos finalizados</h3>
                <p class="">Curso</p>
                <p class="">Estado</p>
                <p class="">Fecha</p>
                <p class="">Lugar</p>
            </div>
        </section>

        <!-- 2. Vista de Calendario (Mockup Operativo) -->
        <section class="">
            <h2>Calendario</h2>
            <div class="">
                <div class="">
                    <button class="">&lt; Anterior</button>
                    <h3>Junio 2026</h3>
                    <button class="">Siguiente &gt;</button>
                </div>
                <div class="">
                    <!-- Días de la semana -->
                    <div class="">Lun</div><div class="">Mar</div><div class="">Mié</div>
                    <div class="">Jue</div><div class="">Vie</div><div class="">Sáb</div>
                    <div class="">Dom</div>
                    
                    <!-- Ejemplo de días vacíos y con eventos -->
                    <div class=""></div><div class=""></div><div class=""></div>
                    <div class="">1</div><div class="">2</div><div class="">3</div><div class="">4</div>
                    <div class="">5
                        <span class="">Conf. Tech</span>
                    </div>
                    <div class="">6</div><div class="">7</div><div class="">8</div>
                    <div class="">9
                        <span class="">Taller UX</span>
                    </div>
                    <div class="">10</div><div class="">11</div><div class="">12</div>
                </div>
            </div>
        </section>


        <section>
            <div class="actions-section">
                <h2>Formulario de alta de Evento</h2>
                <form action="/eventos/carga-masiva-excel" method="POST" enctype="multipart/form-data">
                    <div>
                        <div>
                            <p>Nombre</p>
                            <input type="text" name="evento_nombre">
                        </div>
                        <div>
                            <p>Escuela</p>
                            <select name="escuela_id" id="escuela-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for escuela in escuelas %}
                                    <option value="{{ escuela.id }}">{{ escuela.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Año</p>
                            <select name="anio" id="anio-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for anio in anios %}
                                    <option value="{{ anio }}">{{ anio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Curso</p>
                            <select name="division" id="division-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for clave, valor in divisiones.items() %}
                                    <option value="{{ clave }}">{{ valor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Monto total</p>
                            <input type="text" name="monto_total">
                        </div>
                        <div>
                            <p>Interés por mora</p>
                            <select name="interes_mora" id="interes_mora-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                {% for interes in interes_mora %}
                                    <option value="{{ interes }}">{{ interes }}%</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Fecha ultimo pago</p>
                            <input type="text" name="ultimo_dia_pago">
                        </div>
                        <div>
                            <p>Lugar</p>
                            <select name="id_establecimiento" id="id_establecimiento-select">
                                <option value="">-- Por favor, elige una opción --</option>
                                
                                {% for establecimiento in establecimientos %}
                                    <option value="{{ establecimiento.id }}">{{ establecimiento.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <p>Adjuntar planilla de excel con datos de alumnos</p>
                            <input type="file" name="archivo_egresados" accept=".xlsx, .xls">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Crear</button>
                        <button type="button" class="btn btn-delete btn-secondary">Cancelar</button>
                    </div>
                </form>

            
            </div>
        </section>

        <!-- 4. Tabla Principal -->
        <section class="">
            <h2>Listado Detallado de Eventos</h2>
            <div class="">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Evento</th>
                            <th>Fecha y Hora</th>
                            <th>Ubicación</th>
                            <th>Progreso Capacidad</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Conferencia Tech 2026</strong></td>
                            <td>25 Jun, 2026 - 19:00</td>
                            <td>Auditorio Central</td>
                            <td>
                                <div class="">
                                    <div class=""></div>
                                    <span>85/100</span>
                                </div>
                            </td>
                            <td><span class="">Publicado</span></td>
                            <td>
                                <button class="">Editar</button>
                                <button class="">Eliminar</button>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Taller de SQLModel</strong></td>
                            <td>02 Jul, 2026 - 15:00</td>
                            <td>Sala Virtual B</td>
                            <td>
                                <div class="">
                                    <div class=""></div>
                                    <span>20/50</span>
                                </div>
                            </td>
                            <td><span class="">Borrador</span></td>
                            <td>
                                <button class="">Editar</button>
                                <button class="">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


{% endblock %}