{% extends "base.html" %}

{% block title %}
Usuarios
{% endblock %}

{% block page_title %}Gestión de Usuarios{% endblock %}
{% block page_subtitle %}Administra los usuarios del sitio{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

 <div class="page-container">

    <section class="panel">
        <div class="panel-head">
            <h2>Listado de usuarios</h2>
        </div>
        <div class="search-box">
            <input
                type="text"
                id="searchInput"
                placeholder="🔍 Buscar usuario por nombre o ciudad..."
                onkeyup=""
            >
            <a href="/users/agregar-usuario">
                <button class="btn primary" type="button">➕ Agregar usuario</button>
            </a>
        </div>

    <div class="table-responsive">
        <table class="usuario-table">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="UsuariosTableBody">
                {% for usuario in usuarios %}
                <tr class="table-row" data-search="{{ (usuario.username|lower) }} {{ (usuario.ciudad|lower) }}">
                    <td class="cell-nombre">
                        <strong>{{ usuario.nombre }}</strong>
                    </td>
                    <td class="cell-direccion">{{ usuario.username }}</td>
                    <td class="cell-ciudad">{{ usuario.email }}</td>
                    <td class="cell-anio">{{ usuario.rol}}</td>
                    <td class="cell-acciones">
                        <a href="/users/actualizar-usuario/{{usuario.id}}">
                            <button class="btn-small btn-edit">✏️ Editar</button>
                        </a>
                        <form  action="/users/eliminar-usuario/{{usuario.id}}" method="post">
                            <button class="btn-small btn-delete">
                                🗑️ Eliminar
                            </button>
                        </form>
                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if not usuarios %}
        <div class="empty-state" >
            <p>📭 No hay Usuarios registradas</p>
        </div>
        {% endif %}
    </div>
    </section>

 </div>


{% endblock %}