{% extends "base.html" %}

{% block title %}
Escuelas
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/escuelas.css">
{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Detalles de la Escuela</h1>
            <form action="/escuelas/actualizar-escuela/{{escuela.id}}" method="post">
                <div>
                    <p>Escuela:</p>
                    <input type="text" placeholder="" value="{{escuela.nombre}}" name="nombre">
                </div>
                <div>
                    <p>Dirección:</p>
                    <input type="text" placeholder="" value="{{escuela.direccion}}" name="direccion">
                </div>
                <div>
                    <p>Ciudad:</p>
                    <input type="text" placeholder="" value="La Rioja (Capital)" name="ciudad" disabled>
                </div>
                <div>
                    <p>Teléfono:</p>
                    <input type="text" placeholder="" value="{{escuela.telefono}}" name="telefono">
                </div>
                <div>
                    <button>Guardar cambios</button>
                </div>
                
                
            </form>
            <div>
                <a href="/escuelas"><button>Cancelar</button></a>
                
            </div>
        </div>

        <div>
            <div><button></button></div>
        </div>
        
    </div>
    
{% endblock %}