{% extends "base.html" %}

{% block title %}
Escuelas
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/escuelas.css">
{% endblock %}

{% block content %}

<!-- Header con título -->
 <div class="page-container">
    <div class="page-header">
        <h1>Gestión de Escuelas</h1>
    </div>
    <div>
        <h2>Escuelas con mayor número de contratos</h2>
        <div>
            <p>Numero</p>
            <p>Escuela</p>
        </div>
    </div>

    <div>
        <h2>Escuelas con mayor cantidad de faltas (pagos retrasados)</h2>
        <div>
            <p>Numero</p>
            <p>Escuela</p>
        </div>
    </div>
    <!-- Barra de herramientas: Búsqueda y filtros -->
    <div class="toolbar">
        <div>
            <input 
                type="text" 
                id="searchInput" 
                
                placeholder="🔍 Buscar escuela por nombre o ciudad..."
                onkeyup=""
            >
        </div>
        
        <div><a href="/escuelas/agregar-escuela">
            <button class="btn-primary" onclick="">
                ➕ Agregar Escuela
            </button>
        </a>
            
        </div>
    </div>

    <!-- Tabla de escuelas -->
    <div class="table-container">
        <table class="escuela-table">
            <thead>
                <tr>
                    <th>Nombre de Escuela</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="escuelasTableBody">
                {%if escuelas%}
                {% for escuela in escuelas %}
                    <tr class="table-row" data-search="{{ (escuela.nombre|lower) }} {{ (escuela.ciudad|lower) }}">
                        <td class="cell-nombre">
                            <strong>{{ escuela.nombre }}</strong>
                        </td>
                        <td class="cell-direccion">{{ escuela.direccion }}</td>
                        <td class="cell-ciudad">La Rioja (Capital)</td>
                        <td class="cell-anio">{{ escuela.telefono}}</td>
                        <td class="cell-acciones">
                            <button type="button" class="btn-small btn-edit" data-id="{{ escuela.id }}">✏️ Editar</button>
                            <form action="/escuelas/eliminar-escuela/{{escuela.id}}" method="post">
                                <button class="btn-small btn-delete">
                                    🗑️ Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {%else%}
                    <tr>Sin escuelas cargadas</tr>
                {%endif%}
                
            </tbody>
        </table>
        
        {% if not escuelas %}
        <div class="empty-state" >
            <p>📭 No hay escuelas registradas</p>
        </div>
        {% endif %}
    </div>

    

 </div>


{% endblock %}