<div class="modal-contenido">
    <button onclick="cerrarModal()" class="btn-cerrar-esquina">&times;</button>

    <h2>Registrar Pago</h2>
    <p>Cuota ID: <strong class="mono">{{ cuota_id }}</strong></p>
    <p>Monto máximo a abonar: <span class="mono">${{ monto_total }}</span></p>

    <form class="field full">
        <label for="monto_pagar">Monto a abonar</label>
        <input type="text" id="monto_pagar" name="monto_pagar" max="{{ restante }}" value = {{restante}} required>

        
        <label for="comprobante">Comprobante (opcional)</label>
        <input type="file" id="comprobante" name="comprobante" accept=".pdf,.jpg,.jpeg,.png">

        <div id="mensaje-resultado"></div>

        <div class="modal-botones">
            <button type="button" class="btn" onclick="cerrarModal()">Cancelar</button>
            <button type="submit" class="btn primary">Confirmar Pago</button>
        </div>
    </form>
</div>