{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div>
    <h1>Control de Pagos</h1>

    <div>
        <h2>General</h2>
        <div>
            {%if resumen.contratos%}
                <p>Contratos activos: {{resumen.contratos.total_contratos}}</p>
            {%else%}
                <p>Contratos activos: Sin contratos</p>
            {%endif%}
            
        </div>
        <div>
            {%if resumen.cuotas%}
                <p>Ingreso mensual proyeccion: {{resumen.cuotas.total_proyeccion_mes}}</p>
            {%else%}
                <p>Ingreso mensual proyeccion: Sin ingresos.</p>
            {%endif%}

        </div>
        <div>
            {%if resumen.cuotas%}

                <p>Ingreso mensual actual: {{resumen.cuotas.monto_mes_pagado}}</p>
            {%else%}
                <p>Ingreso mensual actual: Sin pagos en el mes</p>
            {%endif%}
        </div>
        <div>
            {%if resumen.cuotas%}
                <p>Morosidad: {{resumen.cuotas.monto_total_morosidad}}</p>
            {%else%}
                <p>Morosidad: Al día</p>
            {%endif%}
        </div>
    </div>

    <div>
        <h2>Alerta de Morosidad</h2>
        
        <table>
            <tr>
                <thead>
                    <td>Egresado</td>
                    <td>Nro de cuota</td>
                    <td>Monto</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    {% for egresado in resumen.egresados_morosidad %}
                        <tr>
                            <td>{{egresado.nombre_egresado}}</td>
                            <td>{{egresado.numero_cuota}}</td>
                            <td>{{egresado.monto_original}}</td>
                            <td>Vencida</td>
                            <td>
                                <button>Consultar</button>
                                <button>Recordatorio</button>
                            </td>
                        </tr>
                    {% else %}
                            <tr>
                                <!-- El colspan debe coincidir con el número total de columnas -->
                                <td colspan="2" class="text-center">Sin registros de morosidad</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </tr>
        </table>
    </div>


    <div>
        <h2>Ultimos pagos recibidos</h2>

        <table>
            <thead>
                <tr>
                    <th>Cuota</th>
                    <th>Egresado</th>
                    <th>Escuela</th>
                    <th>Pago</th>
                    <th>Fecha de pago</th>
                    <th>Metodo de pago</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if resumen.pagos%}
                    {% for pago in resumen.pagos.ultimos_pagos %}
                    <tr>
                        <td>{{pago.numero_cuota}}</td>
                        <td>escuela</td>
                        <td>{{pago.nombre_egresado}}</td>
                        <td>{{pago.monto}}</td>
                        <td>{{pago.fecha}}</td>
                        <td>{{pago.metodo_pago}}</td>
                        <td><button type="button">Cobrar</button></td>
                    </tr>
                    {% endfor %}
                {%else%}
                    <tr>Sin pagos en el mes</tr>
                {%endif%}
            </tbody>
        </table>
    </div>

    <div>

        <h2>Próximos Vencimientos (Siguientes 15 días)</h2>

        <table>
            <thead>
                <tr>
                    <th>Egresado</th>
                    <th>Escuela</th>
                    <th>Monto</th>
                    <th>Fecha Vencimiento</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%if resumen.contratos%}
                    {% for vencimiento in  resumen.cuotas.proximos_vencimientos%}
                        <tr>
                            <td>{{vencimiento.nombre_egresado}}</td>
                            <td>Escuela</td>
                            <td>{{vencimiento.monto_original}}</td>
                            <td>{{vencimiento.fecha_vencimiento}}</td>
                            <td>{{vencimiento.estado_pago}}</td>
                            <td>
                                <button type="button">Cobrar</button>
                                <button type="button">Recordatorio</button>
                            </td>
                        </tr>
                    {% endfor %}
                {%else%}
                        <tr>Sin vencimientos próximos</tr>
                {%endif%}
                
            </tbody>
        </table>
    </div>

    <div>
        <h2>Registrar pago</h2>
        <div>
            <div>
                <h3>Buscador</h3>
                <p>Dni:</p>
                <input type="text" placeholder="Ingrese nro de documento">
                <button><a href="">Buscar</a></button>
            </div>

        </div>
        <div>
            <form action="">
                <div>
                    <p>Egresado</p>
                    <input type="text">
                </div>
                        
                <div>
                    <p>Cuota</p>
                    <input type="text">
                </div>

                <div>
                    <p>Monto</p>
                    <input type="text">
                </div>

                <div>
                    <button class="btn btn-delete btn-secundary">Vaciar</button>
                    <button class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
       
    </div>
    
</div>

{% endblock content %}

{% block scripts %}
{% endblock %}