 <meta charset="UTF-8">
    <title>Error Interno</title>
    <link rel="stylesheet" href="/static/css/excepciones.css">
<body>

    <div class="overlay"></div>
    
    <div class="error-modal">
        <div class="error-icon">⚠️</div>
        <h2 class="error-title">Hubo un problema</h2>
        <p class="error-msg">{{ mensaje }}</p>
        <p class="countdown">Serás redirigido automáticamente en <span id="timer">11</span> segundos...</p>
    </div>
    <script src="/static/js/excepciones.js"></script>
</body>