h1 {
    color: #2563eb;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #2563eb;
    color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}