{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/cuotas1.css">
{% endblock %}

{% block content %}
    <main class="">
        <header class="">
            <h1>Control de Cuotas</h1>
        </header>

        <!-- Tarjetas de Control de Cuotas -->
        <section class="">
            <div class="">
                <h3>Cuotas Emitidas (Mes)</h3>
                {% if estadisticas.total_cuotas%}
                    <p class="">{{estadisticas.total_cuotas}}</p>
                {% else %}
                    <p class="">Sin cuotas cargadas</p>
                {%endif%}
            </div>
            <div class="">
                <h3>Cuotas Cobradas</h3>
                {% if estadisticas.total_cuotas_finalizadas%}
                    <p class="">{{estadisticas.total_cuotas_finalizadas}}</p>
                {% else %}
                    <p class="">Sin cuotas cobradas</p>
                {%endif%}
            </div>
            <div class="">
                <h3>Cuotas Pendientes</h3>
                {% if estadisticas.cant_cuotas_pendientes%}
                    <p class="">{{estadisticas.cant_cuotas_pendientes}}</p>
                {% else %}
                    <p class="">Sin cuotas pendientes</p>
                {%endif%}
                
            </div>
            <div class="">
                <h3>Cuotas Vencidas</h3>
                {% if estadisticas.total_cuotas_vencidas %}
                    <p class="">{{estadisticas.total_cuotas_vencidas}}</p>
                {% else %}
                    <p class="">Sin cuotas vencidas</p>
                {%endif%}
                
            </div>
        </section>

        <!-- Tabla de Listado de Cuotas -->
        <section class="">
            <div class="">
                <h2>Listado General de Cuotas</h2>
            </div>

            <div>
                <h3>Realizar Filtros</h3>
                <div>
                    <input type="text" placeholder="Búsqueda por Dni">
                </div>
                <div>
                    <input type="text" placeholder="Búsqueda por Estado">
                </div>
            </div>
            
            <div class="">
                <table>
                    <thead>
                        <tr>
                            <th>N° Cuota</th>
                            <th>Egresado</th>
                            <th>Monto</th>
                            <th>Monto Pagado</th>
                            <th>Vencimiento</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {%for cuota in cuotas%}
                        <tr>
                            <td>{{cuota.numero_cuota}}</td>
                            <td>{{cuota.nombre_egresado}}</td>
                            <td>${{cuota.monto_original}}</td>
                            <td>${{cuota.monto_pago}}</td>
                            <td>{{cuota.fecha_vencimiento}}</td>
                            <td><span class="">{{cuota.estado_pago}}</span></td>
                            <td>
                                <button class="">Registrar Pago</button>
                            </td>
                        </tr>
                       
                        {%endfor%}
                       
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock content%}

{% block scripts %}
<script src="/static/js/.js"></script>
{% endblock %}
